body{
    font-family: 'Gulzar', serif;
}
section{
    margin-bottom: 150px;
}

/* top of the website*/
.top-banner{
    
   background-image: url(img/bg-img.jpg);
   background-repeat: no-repeat;
   text-align: center;
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;
}
.top-banner h1{
    font-size: 30px;
}
.top-banner h4{
    font-size: 10px;
}
.white-color{
    color: white;
}
.top-banner h1{
    font-size: 40px;
}
.top-banner h4{
    font-size: 20px;
}
.donate-button{
    text-decoration: none;
    background-color: rgb(235, 138, 138);
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 15px;
    color: azure;
}
/*amount decide part*/
.amount-decide{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%; 
    margin-top: 150px;
}
#amount-decide-upper h1{
font-size: 30px;
}

.tk-buton{
    margin: 10px 10px;
    border: 5px solid rebeccapurple;
    padding: 25px 25px;
    color: brown;
    width: 10%;
}
#input-fild{
    text-align: center;
    margin: 40px 40px; 
}
#input-fild p{
    text-align: center;
    border-bottom: 2px solid rgb(196, 194, 194);
    color: rgb(196, 194, 194);
    margin: 10px 10px;
    
}
#amount-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    color: azure;  
    
}

/*donation plan part*/

.donate-plan{
 text-align: center;
}

.flexible-container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    
}
.donate-plan-box{
    text-align: center;
    border: 2px solid white;
    margin: 20px 20px;
    padding: 10px 10px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 5px;

}
    
#bg-color-box1{
    background-color: rgb(240, 218, 192);
}
#bg-color-box2{
    background-color: aquamarine;
}
#bg-color-box3{
    background-color: khaki;
}

/*get update part*/
#get-update-text{
  text-align: center;  
}
#get-update-email{
    background-color: rgb(247, 193, 180);
    border: 0 solid white;
    width: 30%;
    height: 50%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%
    
}
#email-button{
    text-decoration: none;
    background-color: rgb(228, 125, 125);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 13px;
    color: azure; 
    border: 0 solid white;
    
}
#get-update-email input{
    padding: 10px 50px;
    border-radius: 5px;
    border: 0 solid white;
    
}
/*footer*/
footer{
    color: rgb(80, 12, 12);
    background-color: cadetblue;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 25px;
}
